#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.outline {
  max-width: calc(100% - 10px);
  max-height: calc(100vh - 10px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas * {
  outline: 5px solid black;
  max-width: 100%;
  max-height: 100vh;
}